extends layout

<%= favicon_tag '/public/images/favicon.ico' %>

style.
  .my_panel > .panel-body {
    padding: 0px;
  }
  .my_panel > .panel-body > img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .my_panel > .panel-footer {
    text-align: center;
  }

block main
  .container
    .row
      .col-lg-6
        .well
          a(href="http://antirek.github.io/duck-shop/small.html?utm_source=google&utm_medium=cpc&utm_campaign=promo") Реклама Google про уток-малюток: Купи утку-малютку
      .col-lg-6
        .well
          a(href="http://antirek.github.io/duck-shop/jokes.html?utm_source=yandex&utm_medium=cpc&utm_campaign=campaing_id_yandex_2323&utm_content=adv_id_6767") Реклама Yandex про утки-шутки: Купи утку-шутку и получи подарок
      .col-lg-6
        .well
          a(href="http://antirek.github.io/duck-shop/pirates.html?utm_source=vkontakte&utm_medium=cpc&utm_campaign=campaign_id_vk_322424&utm_content=ad_id_444334") Реклама в ВК про уток-пиратов: Утка-пират, что может быть лучше?
      .col-lg-6
        .well text
    .row
      .col-lg-8
        .well
          a(href="http://antirek.github.io/duck-shop/?utm_source=yandex&utm_medium=cpc&utm_campaign=GOR_RF&utm_content=6533134913&utm_term=%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C%20%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%20%D0%BF%D0%BB%D0%B0%D0%BD&_openstat=ZGlyZWN0LnlhbmRleC5ydTszODMyMjg5Mjs2NTMzMTM0OTEzO3lhbmRleC5ydTpwcmVtaXVt&yclid=571566290180538198") реклама в поисковой выдаче Яндекс: Купить шаурму в Duck-duck shop'е
      .col-lg-4
        .well
          a(href="https://tilda.cc/ru/utm/" target="_blank") Конструктор UTM-меток на Тильде

      
        